.search-bar-Addmin{
    height: 75px;
    width: 500px;
    max-width: 600px;
    background: rgba(255,255,255,0.2);
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    /* backdrop-filter: blur(4px) saturate(180%); */
    display: flex;
    justify-content: center;
    margin-left:705px;
    margin-top:40px;
    margin-bottom:40px;
    
}
.search-bar-Addmin input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;

}
::placeholder{
    color:black ;
}
.search-bar-Addmin button img{
    width: 25px;

}
.search-bar-Addmin button {
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #5f347e;
    cursor: pointer;
}

/* Add and remove */

.AdminPanelDiv{
   width: 300px;
   
}


.Admin-product-title{
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem
    /* text-align: center;
    margin-bottom: 1.5rem; */
}
.Admin-price{
    font-weight: 500;
}
/* .add-cart{
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: #7715a0;
    padding: 10px;
    cursor: pointer;

} */
#Admin-product-box{
    width: 380px;
    height: 600px;
    border: 2px solid #5f347e;
    border-radius: 20px;
    margin: 30px 30px 30px 30px;
    position: relative;
    padding-top: 50px;
}
/* #product-box:hover{
    padding: 5px;
    border: 2px solid black;
    transition: 0.4s;
    box-shadow:  0px 0px 29px -3px rgba(63, 7, 95, 1);
} */
.Admin-product-img{
    width: 300px;
    height: 400px;
    margin-bottom: 0.5rem;
    padding-top: 15px;
    
}
.row{
    padding-bottom: 5px;
}


#PanelBox2{
    width: 420px;
    height: 600px;
    border: 2px solid #5f347e;
    border-radius: 20px;
    margin-top: 30px;
    
    
}